.error {
  font-size: 25px;
  line-height: 45px;

  margin-top: 20vh;
  padding-right: 5%;
  padding-left: 5%;

  text-align: center;
}

.tryagain {
  font-size: 20px;
  font-weight: 700;

  display: block;

  margin-top: 5vh;

  cursor: pointer;
  text-align: center;
  text-decoration: none;

  color: #d32f2f;

  &:hover {
    text-decoration: underline;
  }
}

.playagain {
  font-size: 18px;

  display: inline-block;

  margin-top: 5vh;
  margin-right: auto;
  margin-left: auto;
  padding-top: 1vh;
  padding-right: 35px;
  padding-bottom: 1vh;
  padding-left: 35px;

  text-align: center;
  white-space: nowrap;
  text-decoration: none;

  color: black;
  border: 1px solid black;
  border-radius: 3px;
  background-color: transparent;

  &:hover {
    color: white;
    background-color: #e53935;
  }
}
