.error,
.loading {
  font-size: 25px;
  line-height: 45px;

  margin-top: 20vh;
  padding-right: 5%;
  padding-left: 5%;

  text-align: center;
}

.tryagain {
  font-size: 20px;
  font-weight: 700;

  display: block;

  margin-top: 5vh;

  cursor: pointer;
  text-align: center;
  text-decoration: none;

  color: #d32f2f;

  &:hover {
    text-decoration: underline;
  }
}
