.popular-langs {
  margin-top: 25px;
}

.languages {
  display: flex;

  margin-right: auto;
  margin-left: auto;
  padding: 0;

  list-style: none;

  flex-wrap: wrap;
  justify-content: center;
}

.language-wrapper {
  margin-top: 5px;
  padding-right: 15px;
  padding-left: 15px;
}

.language {
  font-size: 18px;
  font-weight: 700;

  display: block;

  cursor: pointer;
  text-decoration: none;

  color: black;
  border: none;
  outline: none;
  background-color: transparent;
}

.language-active {
  color: red;

  composes: language;
}
