@import "./styles/variables.scss";
@import "./styles/normalize.scss";
@import "./styles/bootstrap_grid.scss";
@import "./styles/scaffolding.scss";

.app {
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2.5%;
  padding-bottom: 50px;
  padding-left: 2.5%;

  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, rgb(255, 255, 255)), linear-gradient(70deg, rgb(219, 237, 255) 32%, rgb(235, 255, 240));
}
