.compare {
  margin-top: 5vh;
}

.title {
  text-align: center;
}

.reset {
  margin-top: 5px;

  cursor: pointer;

  color: red;
  border: none;
  outline: none;
  background-color: transparent;

  &:hover {
    text-decoration: underline;
  }
}

.findout {
  font-size: 18px;

  display: block;

  max-width: 20vw;
  margin-top: 5vh;
  margin-right: auto;
  margin-left: auto;
  padding-top: 1vh;
  padding-bottom: 1vh;

  text-align: center;
  text-decoration: none;

  color: black;
  border: 1px solid black;
  border-radius: 3px;
  background-color: transparent;

  &:hover {
    color: white;
    background-color: #e53935;
  }
}
