.form {
  display: flex;
  flex-direction: column;

  margin-top: 10vh;

  text-align: center;

  align-items: center;
}

.label {
  font-size: 22px;

  text-shadow: 0 1px 1px;
}

.input {
  font-size: 18px;

  margin-top: 2vh;
  padding: 10px 15px;

  border: 1px solid black;
  border-radius: 3px;
}

.submit {
  margin-top: 2vh;
  padding: 5px 10px;

  cursor: pointer;
  transition: all 0.3s;

  color: white;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #4527a0;

  &:hover {
    background-color: #673ab7;
  }
}
