.player-preview {
  width: 100%;
  margin-top: 3vh;

  text-align: center;
}

.image {
  max-width: 150px;
  margin-right: auto;
  margin-left: auto;

  border-radius: 50%;
}

.username {
  font-size: 25px;

  margin-top: 3vh;
}
