.home {
  margin-top: 15vh;

  text-align: center;
}

.title {
  font-size: 38px;
}

.button {
  font-size: 25px;
  font-weight: 400;

  display: inline-block;

  margin-top: 6vh;
  padding: 10px 25px;

  transition: all 0.3s;
  text-decoration: none;

  color: white;
  border-radius: 3px;
  background-color: #d32f2f;

  &:hover {
    background-color: #f44336;
  }
}

.link {
  font-size: 16px;

  display: block;

  margin-top: 6vh;

  text-decoration: none;

  color: black;

  &:hover {
    text-decoration: underline;
  }
}
